
  H3{
      text-align:  center;
   }

   p{
      text-indent: 2em;
   }

   ul {
      list-style-type: square;
      margin: 0px 0px 0px 5.5em;
      font-size: 0.9em;
      font-style: italic; 
   }

   


   